### Notebook de Inferência do Modelo

#### Objetivo:
    Realizar a inferência do modelo utilizando o MLFLOW.

Importando as bibliotecas necessarias:

In [1]:
import mlflow
import pandas as pd

Importar o modelo:

In [2]:
logged_model = 'runs:/3eaad2a519f149d8a1834aba444dab43/lr'
loaded_model = mlflow.pyfunc.load_model(logged_model)

Importando os dados para predição:

In [3]:
data = pd.read_csv('/home/pc/Task_0/automobile_x.csv')
data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,0,NaN,isuzu,gas,std,four,sedan,rwd,front,94.3,...,four,111,2bbl,3.31,3.23,8.5,78,4800,24,17
1,2,NaN,isuzu,gas,std,two,hatchback,rwd,front,96.0,...,four,119,spfi,3.43,3.23,9.2,90,5000,24,19
2,0,145.0,jaguar,gas,std,four,sedan,rwd,front,113.0,...,six,258,mpfi,3.63,4.17,8.1,176,4750,15,29
3,0,NaN,jaguar,gas,std,four,sedan,rwd,front,113.0,...,six,258,mpfi,3.63,4.17,8.1,176,4750,15,17
4,0,NaN,jaguar,gas,std,two,sedan,rwd,front,102.0,...,twelve,326,mpfi,3.54,2.76,11.5,262,5000,13,19
5,1,104.0,mazda,gas,std,two,hatchback,fwd,front,93.1,...,four,91,2bbl,3.03,3.15,9.0,68,5000,30,38
6,1,104.0,mazda,gas,std,two,hatchback,fwd,front,93.1,...,four,91,2bbl,3.03,3.15,9.0,68,5000,31,31

In [5]:
data = data.apply(pd.to_numeric, errors='coerce')
data.fillna(0, inplace=True)

Calculando predicted:

In [6]:
predicted = loaded_model.predict(data)

Inserindo a coluna de preços na tabela:

In [10]:
data['price'] = predicted

Mostrando a coluna com os preços estimados:

In [14]:
data['price']

0     3103.185751
1     9418.370093
2    32920.995740
3    31708.272156
4    48671.794847
5     6258.389526
6     4781.350509
Name: price, dtype: float64